<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="row">
  
  <div class="col-6">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
      <div>
        {{nome.className}}
      </div>
      <p class="alert alert-danger" *ngIf="!nome.valid && nome.touched">Nome é obrigatório.</p>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email" required email>
    </div>
  </div>

  

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
</form>